.header-wraper .el-menu--horizontal .left-item{
  float: left;
}

.header-wraper .el-menu--horizontal .right-item{
  float: right;
}
.header-wraper .head-menu{
  width: 100%;
}
.header-title{
  font-size: 20px;
  font-weight: bolder;
  padding: 0 20px;
  line-height: 60px;
}
