.demo-infinite-container{
  height: 500px;
  -webkit-overflow-scrolling: touch;
}

.gridlist-demo{
  padding:6px;
}

.datalist-span{
  font-size:12px;
  text-align:left;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mu-grid-tile .mu-grid-tile-title-container{
  margin-left :0px;
  margin:0;
  padding:2px;

}
